.page {
  background: url("../../images/background-main.jpg") center;
  background-color: #046380;
  color: white;
  margin: 0 auto;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 1925px) {
  .page {
    background: #046380;
  }
}

@media screen and (min-height: 1085px) {
  .page {
    background: #046380;
  }
}

@media screen and (max-height: 540px) {
  .page {
    grid-template-rows: 1fr auto;
  }
}