.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    width: calc(100% - 96px);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 900px) {
  .photo-grid {
    width: calc(100% - 48px);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    width: calc(100% - 32px);
    grid-gap: 12px;
  }
}