.places {
  margin: 0 auto;
  max-width: 985px;
  padding: 92px 0;
}

@media screen and (max-width: 1200px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 900px) {
  .places {
    max-width: calc(100% - 48px);
    padding: 88px 0 90px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    max-width: 100%;
    padding: 64px 0 66px;
  }
}