.header__logo {
  width: 126px;
  padding-left: 60px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 96px;
  }
}

@media screen and (min-width: 1600px) {
  .header__logo {
    padding-left: 120px;
  }
}