.header {
  margin: 0;
  padding: 56px 0;
  justify-self: start;
}

@media screen and (max-width: 900px) {
  .header {
    justify-self: center;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: 30px;
  }
}

@media screen and (max-height: 650px) {
  .header {
    padding: 36px 0;
  }
}

@media screen and (max-height: 540px) {
  .header {
    display: none;
  }
}