.header {
  margin: 0 auto;
  max-width: 1184px;
  padding: 56px 0;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .header {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 900px) {
  .header {
    max-width: calc(100% - 48px);
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: calc(100% - 32px);
    padding-top: 30px;
  }
}

@media screen and (max-height: 450px) {
  .header {
    display: none;
  }
}