.intro {
  margin: 0 auto;
  max-width: 985px;
  box-sizing: border-box;
  padding: 92px 0;
}

@media screen and (max-width: 1200px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    width: calc(100% - 48px);
    padding: 88px 0;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    width: calc(100% - 32px);
    padding: 64px 0;
  }
}