.footer {
  margin: 0 46px 10px;
  max-width: 1600px;
  display: flex;
  flex-direction: row-reverse;
}


@media screen and (max-width: 700px) {
  .footer {
    margin: 0 26px 10px;
    flex-direction: column;
  }
}