.footer {
  margin: 0 auto;
  max-width: 1184px;
  padding-top: 92px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 700px) {
  .footer {
    max-width: calc(100% - 32px);
    padding-top: 64px;
    flex-direction: column;
  }
}